#orange{
	width:25%;
}
#yellow{	
	bottom:20%;
	height:60%;
	right:50%;
	width:50%;

}
#green{
	left: 25%;
	width: 50%;
}
#blue{
	left:75%;
	width:25%;
}

#red{	
	bottom:20%;
	height:60%;
	left:50%;
	width:50%;
}