body{
    background-color: blueviolet;
}
#f1{
    position: absolute;
    top:10%;
    left: 25%;
    width: 40%;
    height: 80%;   
    border: 7px solid red;
    border-radius: 5%;
    background-color: yellow;
    padding: 20px 30px;
}
#f1>#datosForm>*{
    margin:4px;
}
#f1>#datosForm>legend{
    color: red;
    font-size: 2em;
    font-weight: bold;
}
#f1>#datosForm>#tipoPcBox{
    margin: 10px;
}
#f1>#datosForm>#newsletter>#opciones{
    left: 200px;
    bottom: 18px;
    position: relative;
}
label[for="tArea"]{
    display: block;
}
*{
    font-size: 1.2em;
}