.contact_form ul{
	text-align:center;
	width:500px;
	margin:auto;
	list-style-type:none;
}

.contact_form li{
	padding:10px;
}

.contact_form label{
	display:inline-block;
	float:left;
	font-size:15px;
	margin-top:5px;
	padding:5px;
}