@keyframes vibra{
    0%{left: 0%;}
    25%{left: 100%;}
    50%{left: 0%;}
    100%{left: 50%;}
}

.imagen{
    animation: vibra 5s ease-in-out 1s 3;
    /*KeyFramedeizquierdaaderechaquedandoseenelcentro*/
    -webkit-animation: vibra 5s ease-in-out 1s 3;
}
blockquote{
    transition: color 3s linear 1s;
    -webkit-transition: color 3s linear 1s;
    -moz-transition: color 3s linear 1s;
    -ms-transition: color 3s linear 1s;
    -o-transition: color 3s linear 1s;
}
blockquote:hover{
        color:yellow;
    }
body>header>h1{
    border: 5px double black;
}
#contenido{
    background-image:radial-gradient(pink, deeppink, red);
}
